[worldserver]

###################################################################################################
#   ITEM VENDOR NPC
###################################################################################################

# -------------------------------------------------------------------------------------
#  Enable the module
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
ItemVendor.Enable = 1

# -------------------------------------------------------------------------------------
#  Announce the module when the player logs in?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
ItemVendor.Announce = 1

# -------------------------------------------------------------------------------------
#  How often the optional attention spell fires (milliseconds).
#  Random interval between ItemVendor.MessageTimer (min 60000) and 300000.
#  Default: 60000
#  Disable: 0
# -------------------------------------------------------------------------------------
ItemVendor.MessageTimer = 60000

# -------------------------------------------------------------------------------------
#  The spell cast to get the player's attention
#  Default: 44940
#  Disable: 0
# -------------------------------------------------------------------------------------
ItemVendor.EmoteSpell = 0
